@import '../../styles/variables.scss';

.score {
  position: fixed;
  top: 30px;
  left: 30px;
  font-size: 36px;
  font-family: $primary-font;
  color: $light-accent-color;
  text-transform: uppercase;
}

.lives {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}

.life {
  width: 50px;
  color: $error-color;

  &--disabled {
    color: $dark-color;
  }

  &:not(&--disabled) {
    filter: drop-shadow(0 0 3px $light-color);
  }
}

.highlight {
  color: $light-color;
}