@import '../../styles/variables.scss';

.wrapper {
  @include background-normalize();

  background-image: url('../../assets/images/menu-background.jpg');
}

.container {
  @include container();

  @media (max-width: $br-lg) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.title {
  @include title();

  position: absolute;
  top: 7%;
  left: 15px;

  @media (max-width: $br-lg) {
    position: static;
  }
}

.start-button {
  @include button();

  position: absolute;
  right: 15px;
  bottom: 7%;

  @media (max-width: $br-lg) {
    position: static;
  }
}

.rules {
  position: absolute;
  bottom: 7%;
  left: 15px;

  @media (max-width: $br-lg) {
    position: static;
  }
}