@import '../../styles/variables.scss';

.wrapper {
  @include background-normalize();

  background-image: url('../../assets/images/menu-background.jpg');
}

.container {
  @include container();
}

.title {
  @include title();

  position: absolute;
  top: 7%;
  left: 15px;
}

.start-button {
  @include button();

  position: absolute;
  right: 15px;
  bottom: 7%;
}

.rules {
  position: absolute;
  bottom: 7%;
  left: 15px;
}