@import './fonts';
@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: $dark-color;
  font-family: $secondary-font;
  letter-spacing: 0.1px;
  color: $light-color;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}