$light-color: #09F8FD;
$dark-color: #082E31;
$dark-accent-color: #093F00;
$light-accent-color: #4BD134;
$error-color: #FF0000;

$primary-font: 'Bruno Ace SC', serif;
$secondary-font: 'Ubuntu Mono', Ubuntu, sans-serif;

$br-lg: 1024px;
$br-md: 768px;
$br-sm: 576px;

@mixin bordered-shadow($color) {
  box-shadow: 
    0 0 3px 0 $color,
    0 0 3px 0 $color,
    0 0 3px 0 $color,
    0 0 3px 0 $color;
}

@mixin bordered-text-shadow($color) {
  text-shadow: 
    2px 2px 3px $color,
    -2px 2px 3px $color,
    2px -2px 3px $color,
    -2px -2px 3px $color;
}

@mixin background-normalize() {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin container() {
  position: relative;
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 15px;
}

@mixin title() {
  @include bordered-text-shadow($light-accent-color);

  font-family: $primary-font;
  font-size: 145px;
  letter-spacing: 5px;
  color: $dark-accent-color;
  user-select: none;

  @media (max-width: $br-lg) {
    text-align: center;
  }

  @media (max-width: $br-md) {
    font-size: 100px;
  }

  @media (max-width: $br-sm) {
    font-size: 64px;
  }
}

@mixin button {
  @include bordered-shadow($light-accent-color);

  padding: 15px 50px;
  border: 1px solid $light-accent-color;
  border-radius: 5px;
  background-color: $dark-accent-color;
  color: $light-accent-color;
  font-size: 80px;
  font-weight: 700;
  font-family: $secondary-font;
  user-select: none;
  cursor: pointer;

  @media (max-width: $br-md) {
    padding: 12px 40px;
    font-size: 60px;
  }

  @media (max-width: $br-sm) {
    padding: 8px 30px;
    font-size: 40px;
  }

  &:hover {
    text-shadow: 0 0 5px $light-accent-color;
  }
}