$light-color: #09F8FD;
$dark-color: #082E31;
$dark-accent-color: #093F00;
$light-accent-color: #4BD134;
$error-color: #FF0000;

$primary-font: 'Bruno Ace SC', serif;
$secondary-font: 'Ubuntu Mono', Ubuntu, sans-serif;

$bordered-shadow:
  2px 2px 3px $light-accent-color,
  -2px 2px 3px $light-accent-color,
  2px -2px 3px $light-accent-color,
  -2px -2px 3px $light-accent-color;

@mixin container() {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
}

@mixin title() {
  font-family: $primary-font;
  font-size: 145px;
  letter-spacing: 5px;
  color: $dark-accent-color;
  text-shadow: $bordered-shadow;
  user-select: none;
}

@mixin button {
  padding: 15px 50px;
  border: 1px solid $light-accent-color;
  border-radius: 5px;
  background-color: $dark-accent-color;
  color: $light-accent-color;
  font-size: 80px;
  font-weight: 700;
  font-family: $secondary-font;
  box-shadow: $bordered-shadow;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;

  &:hover {
    text-shadow: 0 0 5px $light-accent-color;
  }
}