@import '../../styles/variables.scss';

.wrapper {
  @include background-normalize();

  background-image: url('../../assets/images/common-background.jpg');
}

.container {
  @include container();
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 50px;
}

.title {
  @include title();

  line-height: 100%;
}

.score {
  @include bordered-text-shadow($light-accent-color);

  margin-bottom: 20px;
  color: $dark-accent-color;
  font-size: 42px;
  font-weight: 700;
}

.restart-button {
  @include button();
}

.highlight {
  @include bordered-text-shadow($light-color);

  color: $dark-color;
}